@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.move-aside-menu {
  transform: translateX(-300px);
}

.hide-menu {
  display: none;
}

.aside_open {
  left: -300px;
}

.move-aside_open-menu {
  transform: translateX(300px);
}

.header {
  background-color: #f58021;
}

.header .visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.header .header__section {
  height: 110px;
  display: flex;
  align-items: center;
}

.header .header__section .header__logo {
  cursor: pointer;
}

.header .header__section .header__nav_map .header__ul_map {
  display: flex;
  justify-content: space-between;
  padding: 0 64px 0 503px;
  width: 556px;
}

.header .header__section .header__nav_map .header__ul_map .header__li_map {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat";
}

.header .header__section .header__nav_map .header__ul_map a {
  text-decoration: none;
  color: black;
}

.header .header__section .header__nav_map .header__ul_map a:link:hover,
.header .header__section .header__nav_map .header__ul_map a:active:hover,
.header .header__section .header__nav_map .header__ul_map a:visited:hover {
  color: #00a092;
}

.header .header__section .header__nav_map .header__ul_map .header__active_link {
  color: #00a092;
  cursor: default;
}

.header .header__section .header__social .header__social_ul {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.header .header__section .header__social .header__social_ul .header__social_li a div {
  transition: transform 0.5s;
  width: 40px;
  height: 40px;
}

.header .header__section .header__social .header__social_ul .header__social_li a div:hover {
  transform: rotate(360deg);
}

.header .header__section .header__social .header__social_ul .header__social_li a .header_logo_tube {
  background-image: url(../../../../assets/icons/icons_tube.svg);
}

.header .header__section .header__social .header__social_ul .header__social_li a .header_logo_inst {
  background-image: url(../../../../assets/icons/icons_inst.svg);
}

.header .header__section .header__social .header__social_ul .header__social_li a .header_logo_fb {
  background-image: url(../../../../assets/icons/icons_fb.svg);
}

.header .header__section .header__menu {
  display: none;
}

.header .header__section .header__menu .hamburger_menu {
  background-image: url(../../../../assets/icons/hamburger_menu.svg);
  width: 30px;
  height: 30px;
}

.main__section_zoo {
  max-width: 1920px;
  margin: 0 auto;
}

.main__section_zoo .section__aside_wrapper {
  width: 220px;
  position: absolute;
  height: 1499px;
  z-index: 11;
  transition: all 0.5s;
}

.main__section_zoo .section__aside_wrapper .zoo__aside {
  width: 212px;
  height: 845px;
  position: sticky;
  top: 0px;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul {
  display: flex;
  flex-direction: column;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel {
  overflow: hidden;
  width: 212px;
  height: 684px;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel {
  width: 212px;
  height: 1500px;
  position: relative;
  top: -1px;
  transition: all 1s;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_size {
  width: 110px;
  height: 110px;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_size-active {
  width: 120px;
  height: 120px;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_panda {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_panda.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_eagle {
  background-image: url(../../../../assets/icons/zoo-page/aside_white-circle_eagle.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_gorilla {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_gorilla.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lemur {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_lemur.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_tiger {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_tiger.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_coala {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_coala.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_croco {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_croco.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lion {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange-circle_lion.svg);
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__arrow_bottom {
  background-color: #20113d;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__arrow_bottom .aside__arrow_bottom {
  background-image: url(../../../../assets/icons/zoo-page/aside_single_arrow.svg);
  width: 15px;
  height: 9px;
  cursor: pointer;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__arrow_bottom .half-opacity {
  opacity: 0.5;
  user-select: none;
  cursor: auto;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_camera {
  background-color: #20113d;
  height: 170px;
  border-bottom: 1px solid #ffffff;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top {
  background-color: #20113d;
  height: 80px;
  border-bottom: 1px solid #ffffff;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrows_top {
  background-image: url(../../../../assets/icons/zoo-page/aside_arrows.svg);
  width: 16px;
  height: 15px;
  position: relative;
  left: 80%;
  bottom: 10%;
  cursor: pointer;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam {
  width: 112px;
  height: 38px;
  border-bottom-right-radius: 5px;
  background-color: #f58021;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam .arrow_span {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
  padding-right: 10px;
}

.main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam .aside__arrows_img {
  background-image: url(../../../../assets/icons/zoo-page/logo-cam.svg);
  width: 20px;
  height: 20px;
}

.main__section_zoo .section__aside_wrapper-open {
  width: 300px;
  position: absolute;
  height: 1499px;
  z-index: 11;
  transition: all 0.5s;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open {
  width: 300px;
  height: 843px;
  position: sticky;
  top: 0px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open {
  display: flex;
  flex-direction: column;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open {
  overflow: hidden;
  width: 300px;
  height: 684px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open {
  width: 300px;
  height: 1500px;
  position: relative;
  top: -1px;
  transition: all 1s;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open > p {
  width: 169px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 150%;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open {
  display: flex;
  align-items: center;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_panda-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_panda.svg);
  width: 68px;
  height: 50px;
  margin-right: 17px;
  margin-bottom: 10px;
  margin-left: 26px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_eagle-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_white_eagle.svg);
  width: 54px;
  height: 50px;
  margin-left: 32px;
  margin-right: 27px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_gorilla-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_gorilla.svg);
  width: 58px;
  height: 50px;
  margin-left: 30px;
  margin-right: 25px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lemur-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_lemur.svg);
  width: 30px;
  height: 51px;
  margin-left: 44px;
  margin-right: 39px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_tiger-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_tiger.svg);
  width: 56px;
  height: 52px;
  margin-left: 30px;
  margin-right: 27px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_coala-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_coala.svg);
  width: 45px;
  height: 56px;
  margin-left: 37px;
  margin-right: 32px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_croco-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_croco.svg);
  width: 60px;
  height: 48px;
  margin-left: 30px;
  margin-right: 25px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lion-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_orange_lion.svg);
  width: 53px;
  height: 47px;
  margin-left: 30px;
  margin-right: 30px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__arrow_bottom-open {
  width: 300px;
  background-color: #20113d;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__arrow_bottom-open .aside__arrow_bottom-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_single_arrow.svg);
  width: 15px;
  height: 9px;
  cursor: pointer;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__arrow_bottom-open .half-opacity-open {
  opacity: 0.5;
  user-select: none;
  cursor: auto;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_height-open {
  background-color: #20113d;
  height: 170px;
  border-bottom: 1px solid #ffffff;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open {
  width: 300px;
  background-color: #20113d;
  height: 74px;
  border-bottom: 1px solid #ffffff;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open .nav__arrows_top-open {
  background-image: url(../../../../assets/icons/zoo-page/aside_arrows-open.svg);
  width: 16px;
  height: 15px;
  position: relative;
  left: 80%;
  bottom: 10%;
  cursor: pointer;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open .nav__arrow_cam-open {
  width: 112px;
  height: 38px;
  border-bottom-right-radius: 5px;
  background-color: #f58021;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open .nav__arrow_cam-open .arrow_span-open {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
  padding-right: 10px;
}

.main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open .nav__arrow_cam-open .aside__arrows_img-open {
  background-image: url(../../../../assets/icons/zoo-page/logo-cam.svg);
  width: 20px;
  height: 20px;
}

.main__section_zoo .zoo__header {
  display: flex;
  flex-direction: column;
}

.main__section_zoo .zoo__header .header_div {
  display: flex;
  margin: 50px 0 46px 0;
  justify-content: flex-end;
}

.main__section_zoo .zoo__header .header_div .zoo_h2 {
  font-size: 54px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  color: #00a092;
  padding-top: 7px;
}

.main__section_zoo .zoo__header .header_div .zoo__button {
  margin-left: 203px;
  width: 246px;
  height: 74px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #f58021;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.main__section_zoo .zoo__header .header_div .zoo__button .zoo__button_arrow {
  background-image: url(../../../../assets/icons/arrow-white_right.svg);
  width: 24px;
  height: 22px;
  padding-left: 3px;
  margin-left: 10px;
}

.main__section_zoo .zoo__header .header_div .zoo__button:hover {
  background: #d26004;
  box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);
}

.main__section_zoo .zoo__header .header_div .zoo__button:focus {
  outline: none;
  background: #d26004;
  box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);
}

.main__section_zoo .zoo__header .main__zoo_video .iframe__camera-num {
  width: 100%;
  height: 100%;
  position: relative;
}

.main__section_zoo .zoo__header .main__zoo_video .iframe__camera-num .iframe {
  width: 1400px;
  height: 787px;
}

.main__section_zoo .zoo__header .main__zoo_video .iframe__camera-num .iframe__camera-num_text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 26px;
  color: #ffffff;
  position: absolute;
  top: 50px;
  left: 40px;
}

.main__section_zoo .zoo_h3 {
  font-size: 42px;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  padding-top: 100px;
  text-align: center;
  margin-right: 11px;
}

.main__section_zoo .zoo_cameras {
  display: flex;
  height: 209px;
  padding-top: 34px;
  padding-bottom: 150px;
  align-items: center;
  margin-left: 167px;
}

.main__section_zoo .zoo_cameras .zoo__cameras_arrow-left {
  background-image: url(../../../../assets/icons/arrow-black_left.svg);
  cursor: pointer;
  width: 27px;
  height: 22px;
  margin-right: 37px;
}

.main__section_zoo .zoo_cameras .zoo__cameras_arrow-right {
  background-image: url(../../../../assets/icons/arrow-black_right.svg);
  cursor: pointer;
  width: 27px;
  height: 22px;
}

.main__section_zoo .zoo_cameras .zoo__cameras_arrow-left:hover {
  background-image: url(../../../../assets/icons/arrow-orange_left.svg);
}

.main__section_zoo .zoo_cameras .zoo__cameras_arrow-right:hover {
  background-image: url(../../../../assets/icons/arrow-orange_right.svg);
}

.main__section_zoo .zoo_cameras .zoo__camera_animal {
  border-radius: 8px;
  width: 320px;
  height: 209px;
  border: 2px solid #ffffff;
  margin-right: 37px;
}

.main__section_zoo .zoo_cameras .zoo__camera_animal .iframe_video {
  width: 320px;
  height: 209px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.main__section_zoo .zoo_cameras .zoo__camera_animal .iframe_video iframe {
  z-index: -1;
}

.main__section_zoo .zoo_cameras .zoo__camera_animal .zoo_cam {
  width: 189px;
  height: 44px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 5px 0;
  position: absolute;
  z-index: 10;
}

.main__section_zoo .zoo_cameras .zoo__camera_animal .zoo_cam .zoo__cam_span {
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  color: #ffffff;
  padding-right: 10px;
}

.main__section_zoo .zoo_cameras .hidden_class {
  display: block;
}

.main__section_zoo .zoo_cameras .zoo__camera_animal:hover {
  border-color: #f58021;
}

.main__section_donate {
  background-color: #20113d;
}

.main__section_donate .section__donate {
  display: flex;
  justify-content: space-between;
}

.main__section_donate .section__donate .donate__information .donate__header_h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 42px;
  color: #ffffff;
  padding: 56px 0 28px 0;
}

.main__section_donate .section__donate .donate__information .donate__p {
  width: 909px;
  font-family: "Montserrat";
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 46px;
}

.main__section_donate .donate__p_button {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 26px;
  padding: 58px 0 14px 2px;
}

.main__section_donate .donate__button_content {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 5px;
  align-items: center;
}

.main__section_donate .donate__button_content .donate_span {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  padding-left: 15px;
}

.main__section_donate .donate__button_content .input__donate {
  width: 204px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20113d;
  color: #ffffff;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  padding-left: 5px;
}

.main__section_donate .donate__button_content .input__donate::placeholder {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
}

.main__section_donate .donate__button_content .input__donate::-webkit-outer-spin-button,
.main__section_donate .donate__button_content .input__donate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main__section_donate .donate__button_content .donate__btn {
  width: 80px;
  height: 71px;
  border-radius: 5px;
  background-color: #f58021;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section_donate .donate__button_content .donate__btn .donate__btn_arrow {
  background-image: url(../../../../assets/icons/arrow-white_right.svg);
  width: 26px;
  height: 22px;
}

.main__section_donate .donate__button_content .donate__btn:hover {
  background-color: #d26004;
}

.main__section_info .section__info_header {
  width: 1040px;
  border-radius: 5px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  margin: 151px 240px;
}

.main__section_info .section__info_header .info_h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 42px;
  color: #00a092;
  padding: 53px 0 24px 336px;
}

.main__section_info .section__info_header .info_p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 26px;
  color: #000000;
  text-align: center;
  width: 919px;
  margin: 0 auto;
  line-height: 131%;
  padding-bottom: 53px;
}

.main__section_info .section__info_desc {
  display: flex;
}

.main__section_info .section__info_desc .info__desc_container {
  width: 720px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .desc_name {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 26px;
  color: #000000;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .desc_info {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding-left: 20px;
  height: 26px;
  line-height: 30px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .card__span {
  width: 390px;
  height: 84px;
  font-size: 18px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 150%;
  margin-top: 30px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn_a {
  margin-left: 13px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn_a:link {
  text-decoration: none;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn {
  width: 240px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f58021;
  cursor: pointer;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn .btn__span {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 20px 0 16px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn .btn__arrow {
  background-image: url(../../../../assets/icons/arrow-orange_right.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 33px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn:hover {
  background-color: #f58021;
  color: #ffffff;
  border-radius: 5px;
}

.main__section_info .section__info_desc .info__desc_container .container_desc .map__btn:hover .btn__arrow {
  background-image: url(../../../../assets/icons/arrow-white_right.svg);
}

.main__section_info .section__info_desc .info__desc_container .desc_margins_01 {
  margin-bottom: 27px;
}

.main__section_info .section__info_desc .info__desc_container .desc_margins_0 {
  margin-bottom: 0;
}

.main__section_info .section__info_desc .info__desc_img {
  width: 440px;
  height: 440px;
}

.main__section_info .info__desc_p {
  width: 1160px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 27px;
  color: #000000;
  padding: 48px 0 150px 0;
}

.footer {
  height: 329px;
  background-color: #20113d;
}

.footer .footer__nav {
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer__nav .footer__nav_school .nav__school_ul {
  display: flex;
  width: 414px;
  justify-content: space-between;
}

.footer .footer__nav .footer__nav_map .nav__map_ul {
  text-transform: uppercase;
  display: flex;
  width: 425px;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
}

.footer .footer__nav .footer__nav_map .nav__map_ul a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer__nav .footer__nav_map .nav__map_ul a:link:hover,
.footer .footer__nav .footer__nav_map .nav__map_ul a:active:hover,
.footer .footer__nav .footer__nav_map .nav__map_ul a:visited:hover {
  color: #00a092;
}

.footer .footer__nav .footer__btn {
  width: 356px;
  height: 73px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
}

.footer .footer__nav .footer__btn .footer__btn_span {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.footer .footer__nav .footer__btn .footer__btn_right-arrow {
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 33px;
  background-image: url(../../../../assets/icons/arrow-white_right.svg);
}

.footer .footer__nav .footer__btn:hover {
  background-color: #00a092;
  color: #ffffff;
}

.footer .footer__nav .footer__btn:hover .footer__btn_right-arrow {
  background-image: url(../../../../assets/icons/arrow-white_right.svg);
}

.footer .footer_line {
  border-top: 1px solid #ffffff;
}

.footer .footer__authors {
  display: flex;
  justify-content: space-between;
  height: 114px;
  align-items: center;
}

.footer .footer__authors .footer_auth_ul {
  display: flex;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  width: 448px;
  justify-content: space-between;
}

.footer .footer__authors .footer__social .footer__social_ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.footer .footer__authors .footer__social .footer__social_ul .footer__social_li a div {
  transition: transform 0.5s;
  width: 40px;
  height: 40px;
}

.footer .footer__authors .footer__social .footer__social_ul .footer__social_li a div:hover {
  transform: rotate(360deg);
}

.footer .footer__authors .footer__social .footer__social_ul .footer__social_li a .footer_logo_tube {
  background-image: url(../../../../assets/icons/icons_tube.svg);
}

.footer .footer__authors .footer__social .footer__social_ul .footer__social_li a .footer_logo_inst {
  background-image: url(../../../../assets/icons/icons_inst.svg);
}

.footer .footer__authors .footer__social .footer__social_ul .footer__social_li a .footer_logo_fb {
  background-image: url(../../../../assets/icons/icons_fb.svg);
}

@media (max-width: 1830px) {
  .main__section_zoo {
    max-width: 1300px;
  }
  .main__section_zoo .section__aside_wrapper {
    left: 0;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside {
    width: 150px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel {
    width: 150px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel {
    width: 150px;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 1000px;
  }
  .header .header__section .header__nav_map .header__ul_map {
    width: 481px;
    padding: 0 80px 0 164px;
  }
  .main__section_zoo {
    width: 1200px;
  }
  .main__section_zoo .section__aside_wrapper {
    width: auto;
    margin: 0;
    height: 1287px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside {
    width: 115px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam {
    display: none;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrows_top {
    position: inherit;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel {
    width: 115px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel {
    width: 115px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_eagle {
    background-image: url(../../../../assets/icons/zoo-page/respons/res_aside_white_eagle.svg);
    width: 43px;
    height: 40px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_gorilla {
    background-image: url(../../../../assets/icons/zoo-page/respons/res_aside_orange_gorilla.svg);
    width: 45px;
    height: 40px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_panda {
    background-image: url(../../../../assets/icons/zoo-page/respons/res_aside_orange_panda.svg);
    width: 53px;
    height: 40px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lemur {
    background-image: url(../../../../assets/icons/zoo-page/respons/res_aside_orange_lemur.svg);
    width: 24px;
    height: 40px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_tiger {
    background-image: url(../../../../assets/icons/zoo-page/aside_orange_tiger.svg);
    width: 67px;
    height: 52px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_coala {
    background-image: url(../../../../assets/icons/zoo-page/aside_orange_coala.svg);
    width: 45px;
    height: 56px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_croco {
    background-image: url(../../../../assets/icons/zoo-page/aside_orange_croco.svg);
    width: 60px;
    height: 48px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lion {
    background-image: url(../../../../assets/icons/zoo-page/aside_orange_lion.svg);
    width: 53px;
    height: 47px;
  }
  .main__section_zoo .section__aside_wrapper-open {
    height: 1290px;
  }
  .main__section_zoo .container {
    margin-left: 160px;
  }
  .main__section_zoo .container .zoo__header .header_div {
    justify-content: flex-end;
    margin: 35px 0 34px 0;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo_h2 {
    padding: 0;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo__button {
    margin-left: 58px;
    width: 238px;
    height: 57px;
  }
  .main__section_zoo .container .zoo__header .main__zoo_video .iframe__camera-num .iframe {
    width: 1026px;
    height: 760px;
    margin-left: -25px;
  }
  .main__section_zoo .container .zoo_h3 {
    margin: 13px 32px 0 0;
    padding: 0;
  }
  .main__section_zoo .container .zoo_cameras {
    height: 209px;
    padding-top: 33px;
    padding-bottom: 99px;
    margin: 0;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-left {
    margin: 0 37px 19px 0;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-right {
    margin: 0 0 19px 21px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal {
    width: 269px;
    height: 205px;
    margin-right: 14px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .zoo_cam {
    justify-content: end;
    width: 163px;
    height: 40px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .zoo_cam .zoo__cam_span {
    padding: 0 11px 0 13px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .iframe_video {
    width: 267px;
    height: 205px;
  }
  .main__section_donate {
    height: 283px;
  }
  .main__section_donate .container {
    width: 1120px;
  }
  .main__section_donate .container .section__donate .donate__information .donate__header_h3 {
    width: 505px;
    padding: 33px 0 12px;
    line-height: 51px;
  }
  .main__section_donate .container .section__donate .donate__information .donate__p {
    width: 725px;
    padding: 0;
  }
  .main__section_donate .container .section__donate .donate__p_button {
    padding: 34px 0 14px 2px;
  }
  .main__section_info {
    height: 1272px;
  }
  .main__section_info .container {
    width: 1120px;
  }
  .main__section_info .container .section__info_header {
    width: 930px;
    margin: 101px 36px 104px 95px;
    height: 369px;
  }
  .main__section_info .container .section__info_header .info_h3 {
    padding: 35px 0 24px 301px;
  }
  .main__section_info .container .section__info_header .info_p {
    margin: 0 0 0 95px;
    width: 740px;
  }
  .main__section_info .container .section__info_desc .info__desc_container {
    width: 665px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc .map__btn_a .map__btn .btn__span {
    font-size: 20px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .desc_margins_001 {
    margin-bottom: 26px;
  }
  .main__section_info .container .section__info_desc .info__desc_img {
    width: 456px;
    height: 457px;
    position: relative;
    bottom: 5px;
  }
  .main__section_info .container .info__desc_p {
    width: 1120px;
    padding: 36px 0 0;
  }
  .footer .container {
    margin: 0;
    width: 100%;
  }
  .footer .container .footer__nav {
    height: 214px;
    padding: 0 40px;
  }
  .footer .container .footer__nav .footer__nav_school .nav__school_ul {
    width: 343px;
  }
  .footer .container .footer__nav .footer__nav_map .nav__map_ul {
    width: 346px;
    padding: 0 35px;
  }
  .footer .container .footer__authors {
    padding: 0 40px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 600px;
  }
  .header .header__section {
    justify-content: space-between;
  }
  .header .header__section .header__nav_map {
    display: none;
  }
  .header .header__section .header__social {
    display: none;
  }
  .header .header__section .header__menu {
    display: block;
    padding-right: 27px;
  }
  .main__section_zoo {
    width: 640px;
  }
  .main__section_zoo .section__aside_wrapper {
    width: auto;
    margin: 0;
    height: 890px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside {
    width: 78px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam {
    display: none;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrows_top {
    position: inherit;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel {
    width: 78px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel {
    width: 78px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_eagle {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_gorilla {
    width: 34px;
    height: 30px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_panda {
    width: 40px;
    height: 30px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lemur {
    width: 18px;
    height: 30px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__arrow_bottom {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper-open {
    width: 233px;
    height: 830px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open {
    width: 233px;
    height: 830px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open {
    width: 233px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__arrow_bottom-open {
    width: 233px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open {
    width: 233px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open {
    width: 233px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open > p {
    width: 150px;
    margin-right: 10px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_panda-open {
    width: 40px;
    height: 30px;
    margin-right: 21px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_eagle-open {
    width: 32px;
    height: 30px;
    margin-left: 19px;
    margin-right: 26px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_gorilla-open {
    width: 37px;
    height: 32px;
    margin-left: 30px;
    margin-right: 25px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lemur-open {
    width: 23px;
    height: 38px;
    margin-left: 31px;
    margin-right: 26px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_tiger-open {
    width: 48px;
    height: 45px;
    margin-left: 12px;
    margin-right: 23px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_coala-open {
    width: 36px;
    height: 41px;
    margin-left: 26px;
    margin-right: 24px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_croco-open {
    width: 51px;
    height: 40px;
    margin-left: 16px;
    margin-right: 21px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lion-open {
    width: 43px;
    height: 35px;
    margin-left: 22px;
    margin-right: 23px;
    background-size: cover;
  }
  .main__section_zoo .container {
    margin-left: 87px;
    width: 533px;
  }
  .main__section_zoo .container .zoo__header {
    width: 533px;
  }
  .main__section_zoo .container .zoo__header .header_div {
    justify-content: end;
    margin: 31px 0 25px 52px;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo_h2 {
    padding: 0;
    font-size: 42px;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo__button {
    width: 213px;
    height: 48px;
    top: 629px;
    left: 408px;
    position: absolute;
    margin: 0;
  }
  .main__section_zoo .container .zoo__header .main__zoo_video .iframe__camera-num .iframe__camera-num_text {
    top: 15px;
    left: 13px;
  }
  .main__section_zoo .container .zoo__header .main__zoo_video .iframe__camera-num .iframe {
    width: 543px;
    height: 403px;
    margin-left: -10px;
  }
  .main__section_zoo .container .zoo_h3 {
    text-transform: none;
    font-size: 26px;
    margin: 87px 0 0 85px;
    text-align: left;
  }
  .main__section_zoo .container .zoo_cameras {
    height: 168px;
    padding: 0px 0px 42px 87px;
    margin: 0;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-left {
    display: none;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-right {
    display: none;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal {
    width: 135px;
    height: 120px;
    margin-right: 15px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .zoo_cam {
    justify-content: end;
    width: 163px;
    height: 40px;
    top: 742px;
    transform: scale(0.44);
    margin-left: -46px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .zoo_cam .zoo__cam_span {
    padding: 0 11px 0 13px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .iframe_video {
    width: 134px;
    height: 106px;
  }
  .main__section_donate {
    height: 515px;
  }
  .main__section_donate .container {
    width: 600px;
  }
  .main__section_donate .container .section__donate {
    flex-direction: column;
    align-items: center;
  }
  .main__section_donate .container .section__donate .donate__information .donate__header_h3 {
    padding: 51px 0 30px 49px;
    text-align: center;
  }
  .main__section_donate .container .section__donate .donate__information .donate__p {
    text-align: center;
    width: 599px;
  }
  .main__section_donate .container .section__donate .donate__p_button {
    padding: 34px 0px 13px 89px;
  }
  .main__section_donate .container .section__donate .donate__button_content .donate_span {
    padding-left: 35px;
  }
  .main__section_donate .container .section__donate .donate__button_content .input__donate {
    width: 233px;
    height: 68px;
  }
  .main__section_donate .container .section__donate .donate__button_content .donate__btn {
    width: 73px;
    height: 71px;
  }
  .main__section_info {
    height: 2173px;
  }
  .main__section_info .container {
    width: 600px;
  }
  .main__section_info .container .section__info_header {
    width: 600px;
    margin: 70px 0 79px 0;
    height: 506px;
  }
  .main__section_info .container .section__info_header .info_h3 {
    padding: 40px 0 24px 111px;
  }
  .main__section_info .container .section__info_header .info_p {
    margin: 10px 0 0 31px;
    width: 540px;
    height: 506px;
  }
  .main__section_info .container .section__info_desc {
    flex-direction: column-reverse;
  }
  .main__section_info .container .section__info_desc .info__desc_container {
    width: 620px;
    margin-top: 79px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc .map__btn_a .map__btn .btn__span {
    font-size: 20px;
  }
  .main__section_info .container .section__info_desc .info__desc_img {
    width: 601px;
    height: 600px;
  }
  .main__section_info .container .info__desc_p {
    width: 600px;
    padding: 19px 0 0;
  }
  .footer {
    height: 545px;
  }
  .footer .container .footer__nav {
    flex-direction: column;
    height: 346px;
  }
  .footer .container .footer__nav .footer__nav_school {
    width: 446px;
    margin-top: 50px;
  }
  .footer .container .footer__nav .footer__nav_school .nav__school_ul {
    width: 446px;
  }
  .footer .container .footer__nav .footer__nav_map {
    margin: 50px 0;
  }
  .footer .container .footer__nav .footer__nav_map .nav__map_ul {
    width: 446px;
    padding: 0;
  }
  .footer .container .footer__nav .footer__btn {
    margin-bottom: 50px;
  }
  .footer .container .footer_line {
    margin-bottom: 50px;
  }
  .footer .container .footer__authors {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .footer .container .footer__authors .footer__social {
    margin: 0 0 35px 0;
  }
  .footer .container .footer__authors .footer__social .footer__social_ul {
    width: 222px;
  }
  .footer .container .footer__authors .footer_auth_ul {
    width: 446px;
  }
}

@media (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 50;
  }
  main {
    padding-top: 110px;
  }
  main .main__section_zoo .section__aside_wrapper .zoo__aside {
    top: 110px;
  }
}

@media (max-width: 639px) {
  .container {
    width: 300px;
  }
  .header .header__section .header__logo {
    margin-left: 11px;
  }
  .header .header__section .header__menu {
    padding-right: 26px;
    padding: 0 26px 2px 0;
  }
  .header .header__section .header__menu .hamburger_menu {
    width: 22px;
  }
  .main__section_zoo {
    width: 320px;
  }
  .main__section_zoo .section__aside_wrapper {
    width: auto;
    margin: 0;
    height: 582px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside {
    width: 50px;
    height: 300px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrow_cam {
    display: none;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav_top .nav__arrows_top {
    position: inherit;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel {
    width: 50px;
    height: 203px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel {
    width: 50px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_eagle {
    width: 21px;
    height: 20px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_gorilla {
    width: 22px;
    height: 20px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_panda {
    width: 26px;
    height: 20px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lemur {
    width: 12px;
    height: 20px;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_tiger {
    width: 28px;
    height: 23px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_coala {
    width: 23px;
    height: 29px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_croco {
    width: 25px;
    height: 21px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__li_carousel .nav__li_div-carousel .aside__nav_div .aside__nav_lion {
    width: 22px;
    height: 20px;
    background-size: cover;
  }
  .main__section_zoo .section__aside_wrapper .zoo__aside .zoo__aside_nav .aside__nav_ul .nav__arrow_bottom {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper-open {
    height: 582px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open {
    height: 304px;
    top: 110px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav_top-open .nav__arrow_cam-open {
    height: 27px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__arrow_bottom-open {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open {
    height: 203px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .nav_height-open {
    height: 50px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open > p {
    width: 157px;
    font-size: 12px;
    line-height: 120%;
    margin: 0;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_panda-open {
    width: 26px;
    height: 20px;
    margin-right: 22px;
    margin-bottom: 0px;
    margin-left: 16px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_eagle-open {
    width: 22px;
    height: 20px;
    margin-left: 18px;
    margin-right: 26px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_gorilla-open {
    width: 23px;
    height: 20px;
    margin-left: 18px;
    margin-right: 25px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lemur-open {
    width: 15px;
    height: 26px;
    margin-left: 23px;
    margin-right: 29px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_tiger-open {
    width: 37px;
    height: 30px;
    margin-left: 11px;
    margin-right: 20px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_coala-open {
    width: 23px;
    height: 28px;
    margin-left: 19px;
    margin-right: 26px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_croco-open {
    width: 29px;
    height: 24px;
    margin-left: 16px;
    margin-right: 24px;
  }
  .main__section_zoo .section__aside_wrapper-open .zoo__aside-open .zoo__aside_nav-open .aside__nav_ul-open .nav__li_carousel-open .nav__li_div-carousel-open .aside__nav_div-open .aside__nav_lion-open {
    width: 27px;
    height: 24px;
    margin-left: 19px;
    margin-right: 24px;
  }
  .main__section_zoo .container {
    margin-left: 50px;
    width: 270px;
  }
  .main__section_zoo .container .zoo__header {
    width: 270px;
  }
  .main__section_zoo .container .zoo__header .header_div {
    margin: 22px 0 17px 2px;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo_h2 {
    font-size: 26px;
  }
  .main__section_zoo .container .zoo__header .header_div .zoo__button {
    width: 300px;
    height: 45px;
    top: 597px;
    left: 11px;
  }
  .main__section_zoo .container .zoo__header .main__zoo_video .iframe__camera-num .iframe__camera-num_text {
    top: 5px;
    left: 5px;
    font-size: 15px;
  }
  .main__section_zoo .container .zoo__header .main__zoo_video .iframe__camera-num .iframe {
    width: 271px;
    height: 199px;
    margin-left: -1px;
  }
  .main__section_zoo .container .zoo_h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 21px 0 0 37px;
  }
  .main__section_zoo .container .zoo_cameras {
    height: 168px;
    padding: 0px 0px 108px 0;
    margin: 0;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-left {
    display: none;
  }
  .main__section_zoo .container .zoo_cameras .zoo__cameras_arrow-right {
    display: none;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal {
    width: 140px;
    height: 120px;
    margin-right: 17px;
    position: relative;
    left: -39px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .zoo_cam {
    width: 163px;
    height: 43px;
    top: -12px;
  }
  .main__section_zoo .container .zoo_cameras .zoo__camera_animal .iframe_video {
    width: 138px;
    height: 108px;
  }
  .main__section_zoo .container .zoo_cameras .hidden_class {
    display: none;
  }
  .main__section_donate {
    height: 580px;
  }
  .main__section_donate .container {
    width: 300px;
  }
  .main__section_donate .container .section__donate {
    flex-direction: column;
    align-items: center;
  }
  .main__section_donate .container .section__donate .donate__information .donate__header_h3 {
    padding: 30px 0 24px 3px;
    font-size: 26px;
    width: 300px;
    line-height: 32px;
  }
  .main__section_donate .container .section__donate .donate__information .donate__p {
    width: 300px;
  }
  .main__section_donate .container .section__donate .donate__p_button {
    padding: 26px 0px 13px 60px;
  }
  .main__section_donate .container .section__donate .donate__button_content .donate_span {
    padding-left: 19px;
  }
  .main__section_donate .container .section__donate .donate__button_content .input__donate {
    width: 203px;
    height: 17px;
  }
  .main__section_donate .container .section__donate .donate__button_content .donate__btn {
    width: 58px;
    height: 44px;
  }
  .main__section_info {
    height: 2504px;
  }
  .main__section_info .container {
    width: 300px;
  }
  .main__section_info .container .section__info_header {
    width: 300px;
    margin: 51px 0 55px 0;
    height: 482px;
  }
  .main__section_info .container .section__info_header .info_h3 {
    padding: 33px 0 24px 36px;
    font-size: 26px;
  }
  .main__section_info .container .section__info_header .info_p {
    margin: 3px 0 0 8px;
    width: 285px;
    height: inherit;
    font-size: 18px;
    line-height: 27px;
    padding: 0;
  }
  .main__section_info .container .section__info_desc {
    flex-direction: column-reverse;
  }
  .main__section_info .container .section__info_desc .info__desc_container {
    width: 300px;
    margin-top: 48px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc {
    flex-direction: column;
    align-items: end;
    margin-bottom: 24px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc .desc_info {
    padding: 9px 0 0;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc .map__btn_a {
    margin-top: 20px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .container_desc .map__btn_a .map__btn .btn__span {
    margin: 0px 14px 0 35px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .desc_margins_01 {
    margin-bottom: 18px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .desc_margins_001 {
    margin-bottom: -6px;
    margin-top: 42px;
  }
  .main__section_info .container .section__info_desc .info__desc_container .desc_margins_0 {
    margin-top: 30px;
    margin-bottom: 51px;
  }
  .main__section_info .container .section__info_desc .info__desc_img {
    width: 320px;
    height: 320px;
    left: -10px;
  }
  .main__section_info .container .info__desc_p {
    width: 300px;
    padding: 3px 0 0;
  }
  .footer {
    height: 717px;
  }
  .footer .container .footer__nav {
    justify-content: end;
    height: 386px;
  }
  .footer .container .footer__nav .footer__nav_school {
    width: 300px;
  }
  .footer .container .footer__nav .footer__nav_school .nav__school_ul {
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 216px;
  }
  .footer .container .footer__nav .footer__nav_map {
    margin: 29px 0 0 0;
  }
  .footer .container .footer__nav .footer__nav_map .nav__map_ul {
    width: 300px;
    font-size: 16px;
    justify-content: space-between;
  }
  .footer .container .footer__nav .footer__btn {
    width: 300px;
    height: 41px;
    margin: 33px 0 0 0;
  }
  .footer .container .footer__nav .footer__btn .footer__btn_span {
    text-transform: none;
  }
  .footer .container .footer_line {
    position: relative;
    top: 102px;
    margin: 0;
  }
  .footer .container .footer__authors {
    margin-top: 33px;
    height: 296px;
  }
  .footer .container .footer__authors .footer_auth_ul {
    width: 300px;
    flex-direction: column;
    align-items: center;
    height: 191px;
    justify-content: space-evenly;
  }
  .footer .container .footer__authors .footer_auth_ul .auth__w320 {
    margin: 9px 0;
  }
}
