@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

$mont: "Montserrat";
$black: #000000;
$navy: #20113d;
$white: #ffffff;
$orange: #f58021;
$orange_black: #d26004;
$turquoise: #00a092;
$grey: #969696;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: $orange;

  .header__section {
    height: 110px;
    display: flex;
    align-items: center;

    .header__logo {
      cursor: pointer;
    }

    .header__nav_map {
      .header__ul_map {
        display: flex;
        justify-content: space-between;
        padding: 0 64px 0 503px;
        width: 556px;

        .header__li_map {
          text-transform: uppercase;
          cursor: pointer;
          color: black;
          font-weight: 600;
          font-size: 18px;
          font-family: $mont;
        }

        a {
          text-decoration: none;
          color: black;
        }

        a:link:hover,
        a:active:hover,
        a:visited:hover {
          color: $turquoise;
        }

        .header__active_link {
          color: $turquoise;
          cursor: default;
        }
      }
    }

    .header__social {
      .header__social_ul {
        width: 180px;
        display: flex;
        justify-content: space-between;

        .header__social_li {
          a {
            div {
              transition: transform 0.5s;
              width: 40px;
              height: 40px;
            }

            div:hover {
              transform: rotate(360deg);
            }
            .header_logo_tube {
              background-image: url(../../../assets/icons/icons_tube.svg);
            }
            .header_logo_inst {
              background-image: url(../../../assets/icons/icons_inst.svg);
            }
            .header_logo_fb {
              background-image: url(../../../assets/icons/icons_fb.svg);
            }
          }
        }
      }
    }
    .header__menu {
      display: none;

      .hamburger_menu {
        background-image: url(../../../assets/icons/hamburger_menu.svg);
        width: 30px;
        height: 30px;
      }
    }
  }
}

.main__section_img {
  .visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  }

  .section__info {
    display: flex;
    margin-top: 150px;
    height: 905px;

    .section__info_header {
      width: 720px;

      .info__h2 {
        font-family: $mont;
        font-size: 54px;
        font-weight: 600;
        text-transform: uppercase;
        color: $turquoise;
      }

      .info__p {
        width: 545px;
        font-family: $mont;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        margin-top: 60px;
      }
    }

    .section__info_form {
      width: 680px;

      .info__form {
        display: flex;
        flex-direction: column;

        .info__span {
          font-family: $mont;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          padding-bottom: 6px;

          .info__span_asterisk {
            color: $turquoise;
            padding-right: 5px;
          }
        }

        .paddings-for-span {
          padding-bottom: 8px;
        }

        .info__input {
          width: 680px;
          height: 58px;
          border: 1px solid $black;
          border-radius: 5px;
          color: $black;
          padding-left: 20px;
          font-family: $mont;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          outline: none;
        }

        .info__input::placeholder {
          color: $grey;
          font-family: $mont;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
        }

        .info__input:valid {
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
        }

        .info__input:invalid:not(:placeholder-shown) {
          background-color: rgba(245, 128, 33, 0.2);
          border: 1px solid $orange;
        }

        .input__error_name {
          height: 20px;
          padding: 5px 0;
        }

        .input__error_email {
          height: 20px;
          padding: 5px 0;
        }

        .input__error_subject {
          height: 20px;
          padding: 5px 0;
        }

        .info__textarea {
          resize: none;
          width: 680px;
          height: 180px;
          border: 1px solid $black;
          border-radius: 5px;
          color: $black;
          padding-left: 20px;
          padding-top: 20px;
          font-family: $mont;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          outline: none;
        }

        .info__textarea::placeholder {
          color: $grey;
          font-family: $mont;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
        }

        .info__textarea:valid {
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
        }

        .info__textarea:invalid:not(:placeholder-shown) {
          background-color: rgba(245, 128, 33, 0.2);
          border: 1px solid $orange;
        }
        .info__btn_submit {
          width: 359px;
          height: 74px;
          border: 0;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: $white;
          margin-top: 67px;
          background-color: $turquoise;
          outline: none;

          .info__btn_span {
            font-size: 18px;
            font-family: $mont;
            font-weight: 600;
            line-height: 22px;
            text-transform: uppercase;
            margin-right: 8px;
          }

          .info__btn_right-arrow {
            background-position: center;
            background-repeat: no-repeat;
            width: 28px;
            height: 33px;
            background-image: url(../../../assets/icons/arrow-white_right.svg);
          }
        }

        .info__btn_submit:hover {
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
          background-color: #05786e;
        }
      }
    }
  }
}

.footer {
  height: 329px;
  background-color: $navy;

  .footer__nav {
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__nav_school {
      .nav__school_ul {
        display: flex;
        width: 414px;
        justify-content: space-between;
      }
    }

    .footer__nav_map {
      .nav__map_ul {
        text-transform: uppercase;
        display: flex;
        width: 425px;
        justify-content: space-between;
        font-size: 18px;
        font-family: $mont;
        font-weight: 600;
        color: $white;

        a {
          text-decoration: none;
          color: $white;
        }

        a:link:hover,
        a:active:hover,
        a:visited:hover {
          color: $turquoise;
        }
      }
    }

    .footer__btn {
      width: 359px;
      height: 74px;
      border: 1px solid $white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $white;

      .footer__btn_span {
        font-size: 18px;
        font-family: $mont;
        font-weight: 600;
        line-height: 22px;
        text-transform: uppercase;
      }

      .footer__btn_right-arrow {
        background-position: center;
        background-repeat: no-repeat;
        width: 38px;
        height: 33px;
        background-image: url(../../../assets/icons/arrow-white_right.svg);
      }
    }

    .footer__btn:hover {
      background-color: $turquoise;
      color: $white;

      .footer__btn_right-arrow {
        background-image: url(../../../assets/icons/arrow-white_right.svg);
      }
    }
  }

  .footer_line {
    border-top: 1px solid $white;
  }

  .footer__authors {
    display: flex;
    justify-content: space-between;
    height: 114px;
    align-items: center;

    .footer_auth_ul {
      display: flex;
      color: $white;
      font-family: $mont;
      font-weight: 400;
      font-size: 18px;
      width: 448px;
      justify-content: space-between;
    }

    .footer__social {
      .footer__social_ul {
        width: 200px;
        display: flex;
        justify-content: space-between;

        .footer__social_li {
          a {
            div {
              transition: transform 0.5s;
              width: 40px;
              height: 40px;
            }

            div:hover {
              transform: rotate(360deg);
            }
            .footer_logo_tube {
              background-image: url(../../../assets/icons/icons_tube.svg);
            }
            .footer_logo_inst {
              background-image: url(../../../assets/icons/icons_inst.svg);
            }
            .footer_logo_fb {
              background-image: url(../../../assets/icons/icons_fb.svg);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .container {
    width: 1000px;
  }

  .header {
    .header__section {
      .header__nav_map {
        .header__ul_map {
          width: 481px;
          padding: 0 80px 0 164px;
        }
      }
    }
  }

  .main__section_img {
    overflow: hidden;

    .main__div_img {
      .main__img {
        position: relative;
        left: -100px;
      }
    }

    .section__info {
      margin-top: 50px;
      display: block;
      height: 1092px;

      .section__info_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .info__h2 {
          padding: 4px 10px 0 0;
        }

        .info__p {
          width: 835px;
          text-align: center;
          margin: 38px 0 50px 79px;
        }
      }

      .section__info_form {
        margin-left: 130px;

        .info__form {
          .info__input {
            width: 716px;
          }
          .info__textarea {
            width: 716px;
            height: 178px;
            padding-top: 23px;
          }

          .info__btn_submit {
            margin-top: 49px;
          }
        }
      }
    }
  }

  .footer {
    .container {
      margin: 0;
      width: 100%;

      .footer__nav {
        height: 216px;
        padding: 0 40px;

        .footer__nav_school {
          .nav__school_ul {
            width: 343px;
          }
        }

        .footer__nav_map {
          .nav__map_ul {
            width: 346px;
            padding: 0 35px;
          }
        }
      }

      .footer__authors {
        padding: 0 40px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    width: 983px;
  }

  .header {
    .header__section {
      .header__social {
        .header__social_ul {
          width: 160px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    width: 600px;
  }

  .header {
    .header__section {
      justify-content: space-between;

      .header__nav_map {
        display: none;
      }

      .header__social {
        display: none;
      }

      .header__menu {
        display: block;
        padding-right: 27px;
      }
    }
  }

  .main__section_img {
    .main__div_img {
      .main__img {
        width: 746px;
        height: 434px;
        left: -51px;
      }
    }

    .section__info {
      height: 1133px;

      .section__info_header {
        width: 600px;

        .info__p {
          width: 600px;
          margin: 22px 0 50px 0;
        }
      }

      .section__info_form {
        margin: 0;
        width: 600px;

        .info__form {
          .info__span {
            padding-bottom: 7px;
          }

          .info__input {
            width: 576px;
          }

          .info__textarea {
            width: 576px;
            height: 178px;
          }

          .input__error_name {
            padding: 5px 0 6px 0;
          }

          .input__error_email {
            padding: 5px 0 6px 0;
          }

          .input__error_subject {
            height: 21px;
          }

          .info__btn_submit {
            margin: 47px auto 0;
            width: 290px;
            height: 74px;
          }
        }
      }
    }
  }

  .footer {
    height: 545px;

    .container {
      .footer__nav {
        flex-direction: column;
        height: 346px;

        .footer__nav_school {
          width: 446px;
          margin-top: 50px;

          .nav__school_ul {
            width: 446px;
          }
        }

        .footer__nav_map {
          margin: 50px 0;

          .nav__map_ul {
            width: 446px;
            padding: 0;
          }
        }

        .footer__btn {
          margin-bottom: 50px;
        }
      }

      .footer_line {
        margin-bottom: 50px;
      }

      .footer__authors {
        flex-direction: column-reverse;
        justify-content: flex-end;

        .footer__social {
          margin: 0 0 35px 0;

          .footer__social_ul {
            width: 222px;
          }
        }

        .footer_auth_ul {
          width: 446px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  main {
    padding-top: 110px;
  }
}

@media (max-width: 605px) {
  .container {
    width: 300px;
  }

  .header {
    .header__section {
      .header__logo {
        margin-left: 11px;
      }

      .header__menu {
        padding-right: 26px;
        padding: 0 26px 2px 0;

        .hamburger_menu {
          width: 22px;
        }
      }
    }
  }

  .main__section_img {
    .main__div_img {
      .main__img {
        width: 362px;
        height: 216px;
        left: -28px;
      }
    }

    .section__info {
      margin-top: 30px;
      height: 1140px;

      .section__info_header {
        height: 414px;
        width: 300px;

        .info__h2 {
          font-size: 26px;
        }

        .info__p {
          margin: 20px 0 50px;
          width: 300px;
        }
      }

      .section__info_form {
        width: 300px;

        .info__form {
          .info__span {
            padding-bottom: 3px;
          }

          .info__input {
            width: 285px;
            height: 47px;
            padding-left: 10px;
          }

          .info__textarea {
            padding-left: 10px;
            padding-top: 15px;
            width: 285px;
            height: 181px;
          }

          .info__btn_submit {
            width: 300px;
            height: 51px;
            margin: 29px auto 0;
          }
        }
      }
    }
  }

  .footer {
    height: 717px;

    .container {
      .footer__nav {
        justify-content: end;
        height: 386px;

        .footer__nav_school {
          width: 300px;

          .nav__school_ul {
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: 216px;
          }
        }

        .footer__nav_map {
          margin: 29px 0 0 0;

          .nav__map_ul {
            width: 300px;
            font-size: 16px;
            justify-content: space-between;
          }
        }

        .footer__btn {
          width: 300px;
          height: 41px;
          margin: 33px 0 0 0;

          .footer__btn_span {
            text-transform: none;
          }
        }
      }

      .footer_line {
        position: relative;
        top: 102px;
        margin: 0;
      }

      .footer__authors {
        margin-top: 33px;
        height: 296px;

        .footer_auth_ul {
          width: 300px;
          flex-direction: column;
          align-items: center;
          height: 191px;
          justify-content: space-evenly;

          .auth__w320 {
            margin: 9px 0;
          }
        }
      }
    }
  }
}
